body {
  background: rgba(0, 0, 0, 0.75);
  font-family: Arial, sans-serif;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  .box {
    box-sizing: border-box;
    float: left;
    width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 50px; /* if you want space between the images */
  }
}
h1 { 
color: #FFFFFF;
justify-content: center;
align-items: center;
text-align: center;
}

h2 { 
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 { 
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p { 
  color: #FFFFFF;
        justify-content: center;
        align-items: center;
        text-align: center;
}

a { 
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: rgba(0, 0, 0, 0.75);
  min-width: 262%;
  min-height: 100%;
}

li {
  display: inline-block;
  margin-right: 50px;
  padding: 20px;
}
      .webpage { 
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        text-align: center;
        color:white;
        margin-bottom: 100px;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
       }

      .video-bg{ 
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;

      }

      .audio { 
       align-items: stretch;
       justify-content: left;
      }
